.music_page {
  background-image: url("WeekndBackground.jpg");
  background-position: right;
  background-size:contain;
  background-repeat:repeat;
  background-attachment: fixed;
}

.navbar {
  font-family: Lato;
  font-size:16px;
}
 
.navbar li a, .navbar{
  color:white !important;
}

.navbar-brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  color: white !important;
  font-size: 25px !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color:black !important;
    background-color:white !important;
}

.logo {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.logo ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

.logo ul li a {
    color:white;
    font-family: Impact;
    font-size: 100px;
    position:static;
    letter-spacing: 5px;
    text-decoration:none;
    width: 100%;
  }


#moth_song {
  width: 360px;
  height: auto;
  margin-left: 300px;
  float: left;
}
.moth_single h1, .moth_single h3, .moth_single p {
  color: white;
  width: 300px;
  clear: right;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.moth_single h1 {
  font-family: Impact;
  text-decoration: underline;
  letter-spacing: 1px;
}

.moth_single h3 {
  font-weight: bold;
  font-family: Lato;
}
.moth_single p {
  font-size: 16px;
  font-family: Lato;
}


.albums_singles {
  float: left;
  clear: right;
  margin-left: 90px;
  margin-right: auto;
  margin-top: 100px;
}

.albums_singles h3 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  text-decoration: none;
  width: fit-content;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}

.albums_singles img {
  padding: 1px;
}

.albums_singles img:hover {
  background-color: white;
  color: black;
}

.albums_singles a {
  color: white;
}

.albums_singles a:hover {
  text-decoration: none;
}

.albums_singles h3:hover {
  background-color: white;
  color: black;
}

#spotify_link{
  margin-left: 20%;
}
#apple_link {
  margin-left: 20%;
}

.titles {
  width: 100%;
  margin-top: 50px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  text-align: center;
  clear: both;
}

.album1, .album2, .album3, .album4, .album5, .album6, .album7, .album8 {
  float: left;
  clear: left;
  width: 50%;
  text-align: center;
  margin: 20px;
}
.album1 h4, .album2 h4, .album3 h4, .album4 h5, .album5 h4, .album6 h4, .album7 h4, .album8 h4 {
  color: white;
  text-align: center;
}

.tracklist {
  float: left;
  clear: right;
  background-color: black;
  border-style: groove;
  margin-top: 30px;
}

.tracklist h3 {
  background-color: white;
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tracklist ol {
  width: 300px;
  text-align: center;
}
.tracklist li {
  color: white;
  width: fit-content;
}

.social {
  float: right;
  clear: both;
  width: 100%;
}

.apple, .spotify, .youtube, .twitter, .instagram, .facebook {
  float: right;
  width: 60px;
  padding: 5px;
  text-align: center;
}

@media(max-width: 768px) {
  .logo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  .logo ul li {
    text-align: center;
  }
  
  .logo ul li a {
      font-family: Impact;
      font-size: 75px;
      position:static;
      letter-spacing: 5px;
      text-decoration:none;
      width: 100%;
    }
    .music_page ul li{
      float:none;
      clear: both;
      text-align: center;
      }
    .moth_single{
        float:none;
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      #moth_song {
        width: 70%;
        height: auto;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto; 
      }
    .albums_singles, .albums_singles img {
      width: 300px;
      height: auto;
      float: none;
      clear: both;
      text-align: center;
      margin-left: auto;
      margin-right: auto; 
    }
    .albums_singles h3 {
      text-align: center;
      letter-spacing: 2px;
      font-weight: lighter;
    }
    #spotify_link{
      float: left;
      clear: left;
      width: 60px;
      margin-left: auto;
      margin-right: auto; 
      }
      #apple_link {
      float: right;
      clear: right;
      width: 60px;
      margin-left: auto;
      margin-right: auto; 
      }

      #spotify_album {
        width: 60px;
        margin-left: auto;
        margin-right: auto; 

      }
      
      #apple_album {
        width: 60px;
        margin-left: auto;
        margin-right: auto; 
      }

      .album1, .album2, .album3, .album4, .album5, .album6, .album7, .album8 {
        float: none;
        clear: both;
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto; 
      }
      .album1 h4, .album2 h4, .album3 h4, .album4 h5, .album5 h4, .album6 h4, .album7 h4, .album8 h4 {
        color: white;
        text-align: center;
      }

      .tracklist {
        float: none;
        clear: both;
        padding: 20px;
        margin-top: 50px;
        background-color: black;
        border-style: groove;
        text-align: center;
        margin: 20px;
        width: fit-content;
        margin-left: auto;
      margin-right: auto; 
      }


      .tracklist ol {
        width: fit-content;
        margin-left: auto;
      margin-right: auto; 
      }

      .tracklist li {
        color: white;
        width: fit-content;
        text-align: center;
      }

    .apple, .spotify, .youtube, .twitter, .instagram, .facebook {
      float: left;
      width: 16.66%;
      padding: 5px;
      text-align: center;
    }
}
 @media(max-width: 600px) {
  .logo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  .logo ul li {
    text-align: center;
  }
  
  .logo ul li a {
      color:white;
      font-family: Impact;
      font-size: 50px;
      position:static;
      letter-spacing: 5px;
      text-decoration:none;
    }
    .music_page ul li{
      float:none;
      clear: both;
      text-align: center;
      }

      .moth_single{
        float:none;
        clear: both;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      #moth_song {
        width: 70%;
        height: auto;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto; 
      }
    .albums_singles, .albums_singles img {
      width: 70%;
      height: auto;
      float: none;
      clear: both;
      margin-left: auto;
      margin-right: auto; 
      text-align: center;
    }
    .albums_singles h3 {
      text-align: center;
      letter-spacing: 2px;
      font-weight: lighter;
    }
    #spotify_link{
      float: left;
      clear: left;
      width: 60px;
      margin-left: auto;
      margin-right: auto; 
      }
      #apple_link {
      float: right;
      clear: right;
      width: 60px;
      margin-left: auto;
      margin-right: auto; 
      }

      #spotify_album {
        width: 60px;
        margin-left: auto;
        margin-right: auto; 
      }
      
      #apple_album {
        width: 60px;
        margin-left: auto;
        margin-right: auto; 
      }

      .album1, .album2, .album3, .album4, .album5, .album6, .album7, .album8 {
        float: none;
        clear: both;
        width: 100%;
        text-align: center;
        margin-left: auto;
      margin-right: auto; 
      }
      .album1 h4, .album2 h4, .album3 h4, .album4 h5, .album5 h4, .album6 h4, .album7 h4, .album8 h4 {
        color: white;
        text-align: center;
      }

      .tracklist {
      float: none;
      clear: both;
      padding: 5px;
      margin-top: 50px;
      background-color: black;
      border-style: groove;
      text-align: center;
      margin-left: auto;
      margin-right: auto; 
      }

      .tracklist ol {
        width: fit-content;
        margin-left: auto;
        margin-right: auto; 
      }

      .tracklist li {
        color: white;
        width: fit-content;
        text-align: center;
      }

  .apple, .spotify, .youtube, .twitter, .instagram, .facebook {
    float: left;
    width: 16.66%;
    padding: 5px;
    text-align: center;
  }
 }
