.tour_page {
background-color: #000;
}

.navbar {
  font-family: Lato;
  font-size:16px;
}
 
.navbar li a, .navbar{
  color:white !important;
}

.navbar-brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  color: white !important;
  font-size: 25px !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color:black !important;
    background-color:white !important;
}

.logo {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.logo ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

.logo ul li a {
    color:white;
    font-family: Impact;
    font-size: 100px;
    position:static;
    letter-spacing: 5px;
    text-decoration:none;
    width: 100%;
  }

.logo {
  margin-top:50px;
}

.tour_logo img {
  width: 100%;
}

.list1, .list2, .list3 {
  float: left;
  width: 33.33%;
  margin-bottom: 50px;
}

.list1 h1, .list2 h1, .list3 h1 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  text-align: center;
}
.list1 ul, .list2 ul, .list3 ul {
  color: white;
  font-family: Lato;
  font-size: 20px;
  list-style-type: none;
  padding-left: 0px;
}

.list1 li, .list2 li, .list3 li {
  text-align: center;
  color: white;
   width: 100%;
}

.list3 li a {
  color: white;
}

.apple, .spotify, .youtube, .twitter, .instagram, .facebook {
  float: right;
  width: 60px;
  padding: 5px;
  text-align: center;
}

@media(max-width: 768px) {
  .logo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  .logo ul li {
    text-align: center;
  }
  
  .logo ul li a {
    font-family: Impact;
    font-size: 75px;
    position:static;
    letter-spacing: 5px;
    text-decoration:none;
    width: 100%;
    }
  .tour_page ul li{
    float:none;
    clear: both;
    text-align: center;
    }

  .tour_logo {
    width: 100%;
  }

  .list1, .list2, .list3 {
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
  }
        
  .list1 h1, .list2 h1, .list3 h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    text-align: center;
  }
  .list1 ul, .list2 ul, .list3 ul {
    color: white;
    font-family: Lato;
    font-size: 20px;
    list-style-type: none;
  }
        
  .list1 li, .list2 li, .list3 li {
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
        
  .list3 li a {
    color: white;
        }

  .apple, .spotify, .youtube, .twitter, .instagram, .facebook {
    float: left;
    width: 16.66%;
    padding: 5px;
    text-align: center;
  }
}
@media(max-width: 600px) {
  .logo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  .logo ul li {
    text-align: center;
  }
  
  .logo ul li a {
    color:white;
    font-family: Impact;
    font-size: 50px;
    position:static;
    letter-spacing: 5px;
    text-decoration:none;
    }

  .tour_page ul li{
    float:none;
    clear: both;
    text-align: center;
  }
    
  .tour_logo {
    width: 100%;
  }

  .list1, .list2, .list3 {
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
    }
          
  .list1 h1, .list2 h1, .list3 h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    text-align: center;
    }
  
  .list1 ul, .list2 ul, .list3 ul {
    color: white;
    font-family: Lato;
    font-size: 20px;
    list-style-type: none;
    }
          
  .list1 li, .list2 li, .list3 li {
    text-align: center;
    color: white;
    }
          
  .list3 li a {
    color: white;
    }
    
  .apple, .spotify, .youtube, .twitter, .instagram, .facebook {
  float: left;
  width: 16.66%;
  padding: 5px;
  text-align: center;
  }
}